:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-color: #FFFFFF;
    --background-color-second: #F5F4FA;
    --background-color-futer: #2F303A;
    --color-logo: #000000;
}
/* 
#EEEEEE - колір background в картинок в портфоліо
#FFFFFF60% колір text в футер: тел і милo
#ECECEC - колір background header в середині
*/

body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}


/* ʼШапка Heder */

.heder{
    background-color: var(--background-color);
}

.logo{
    color: var(--color-logo);
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}
.logo-web{
    color: var(--accent-color);
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
}

:root {
    --background-color: #ffffff;
    --main-text-color: #212121;
    --accent-color: tomato;
    --main-font: Roboto, sans-serif;
    }
    body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
    margin: 0;
    }
    img {
    display: block;
    max-width: 100%;
    height: auto;
    }
    address {
    // или через класс .footer-address
    font-style: normal;
    }
    button {
    display: block;
    
    cursor: pointer;
    font-family: var(--main-font); // (убрать, если есть modern normalize)
    border: none;
    border-radius: 4px;
    }
    .section {
    padding-top: 94px;
    padding-bottom: 94px;
    }
    .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    }
    .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
    .link {
    text-decoration: none;
    // color: inherit;
    }
    